body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.container {
    padding: 70px 5px;
}

.header {
    text-align: center;
}
.header p {
    padding-top: 10px;
}

/* sections */

#about img#softsec {
    float: right;
    width: 20%;
    margin: 100px 90px 0px 0px;
    /* overflow: auto; */
}
#about ul li {
    padding-bottom: 10px;
}
