body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.container {
    padding: 70px 5px;
}

/* sections */

.section#home #header {
    text-align: center;
}
.section#home #header p {
    padding-top: 10px;
}

.section#system img#arch {
    width: 200px;
}

.section#about img#softsec {
    float: right;
    width: 250px;
    margin: 100px 90px 0px 0px;
    /* overflow: auto; */
}
.section#about ul li {
    padding-bottom: 10px;
}
